* {
  font-family: helvetica, suns-sans-serif;
  outline: none;
  /* overflow-y: auto; */
  /* display: block; */
}

body {
  margin: 0 0 0 0;
}

p {
  text-indent: 20px;
}

h5 {
  text-align: center;
  text-indent: 20px;
}

img[alt*="Planets"] {
  width: 447px;
  height: 264px;
}

a {
  color: black;
}

.container2 p {
  width: 70%;
}

.container6 ol {
  width: 70%;

}

.container12345 {
  position: relative;
  width: 100%;
  min-height: 70%;
  display: flex;
}

.container1 {
  position: relative;
  width: 15%;
  background-color: green;
  min-height: 100%;
  color: black;
  text-align: center;
}

.container2345 {
  position: relative;
  right: 0%;
  width: 85%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.container2 {
  position: relative;
  max-width: 100%;
  background-color: #ADFF2F;
  min-height: 20%;
  color: black;
  /* padding-top: 10%; */
  padding-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.conteinerX {
  position: relative;
  height: 35%;
  width: 15%;
  background-color: white;
  top: 0%;
  /* margin-left: 60%; */
  /* margin-top: 0.5%; */
  margin-right: 2%;
  color: black;
  text-align: center;
}

.container345 {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  min-height: 80%;
  bottom: 0%;
  flex-direction: row;
  display: flex;
}

.container35 {
  position: relative;
  width: 70%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.container3 {
  position: relative;
  width: 100%;
  min-height: 10%;
  background-color: #00FF00;
  color: red;
  text-align: right;
}

.container5 {
  position: relative;
  max-width: 100%;
  min-height: 90%;
  bottom: 0%;
  background-color: white;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.container4 {
  position: relative;
  right: 0%;
  width: 30%;
  min-height: 100%;
  background-color: green;
  color: black;
  text-align: center;
}

.container6 {
  position: relative;
  max-width: 100%;
  min-height: 30%;
  background-color: #ADFF2F;
  color: black;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 20px;
}

.conteinerY {
  position: relative;
  height: 35%;
  width: 20%;
  background-color: white;
  /* margin-left: 0.5%;
  margin-top: 10%; */
  color: black;
  text-align: center;
}
